# Файл с переменными окружения
.env
*.env

# Папки виртуальных окружений
venv/
env/
.venv/
*/venv/
*/env/
*/.venv/

# Файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы операционной системы
.DS_Store
Thumbs.db

# Логи и временные файлы
logs/
*.log
*.tmp
*.temp

# Базы данных
*.sqlite3
*.db